@color  : #0798FF;
@bgColor: #F7F4F8;
@border : 1px solid #EAE7EB;

.mu-table {
    box-sizing           : border-box;
    margin               : 0;
    padding              : 0;
    width                : 100%;
    max-width            : 100%;
    font-variant         : tabular-nums;
    font-feature-settings: "tnum";
    font-size            : 14px;
    color                : #555;
    border               : 1px solid #DCDEE2;
    border-radius        : 2px;
    overflow             : hidden;

    table {
        width          : 100%;
        text-align     : left;
        border-collapse: separate;
        border-spacing : 0;

        tr {

            th,
            td {
                min-width     : 0;
                height        : 48px;
                box-sizing    : border-box;
                text-align    : left;
                text-overflow : ellipsis;
                vertical-align: middle;
                border-bottom : @border;
                border-right  : @border;

                div {
                    padding-left : 10px;
                    padding-right: 10px;
                    overflow     : hidden;
                    text-overflow: ellipsis;
                    white-space  : normal;
                    word-break   : break-all;
                }

                &-left {
                    text-align: left;
                }

                &-center {
                    text-align: center;
                }

                &-right {
                    text-align: right;
                }

                input[type='checkbox'] {
                    width         : 15px;
                    height        : 15px;
                    vertical-align: middle;
                }
            }

            th {
                height          : 40px;
                white-space     : nowrap;
                overflow        : hidden;
                border-bottom   : none;
                background-color: @bgColor;


                .mu-table-sort {
                    position: relative;
                    top     : 3px;
                    left    : 10px;

                    i {
                        position     : absolute;
                        top          : 0;
                        left         : 0;
                        display      : block;
                        width        : 0px;
                        height       : 0px;
                        border-bottom: 5px solid #888;
                        border-left  : 5px solid transparent;
                        border-right : 5px solid transparent;
                        cursor       : pointer;

                        &:hover {
                            border-bottom-color: @color;
                        }

                        &:last-child {
                            top          : 7px;
                            border-top   : 5px solid #888;
                            border-bottom: 0;

                            &:hover {
                                border-top-color: @color;
                            }
                        }
                    }
                }
            }

            td {
                background-color: white;
            }

            th.fixed-left,
            td.fixed-left {
                position  : -webkit-sticky !important;
                position  : sticky !important;
                left      : 0;
                text-align: center;
                z-index   : 666;

                &:last-child {
                    box-shadow: 2px 0 6px -2px rgba(0, 0, 0, 0.2);
                }
            }



            th.fixed-right,
            td.fixed-right {
                position      : -webkit-sticky !important;
                position      : sticky !important;
                right         : 0;
                // border-left: @border;
                text-align    : center;
                z-index       : 666;

                &:first-child {
                    box-shadow: -2px 0 6px -2px rgba(0, 0, 0, 0.2);
                }
            }

            &:nth-child(2n) {
                td {
                    background-color: #F8F8F8;
                }
            }

            &:last-child {
                td {
                    border-bottom: none;
                }
            }

            th:last-child,
            td:last-child {
                border-right: none;
            }
        }
    }

    &-head {
        overflow     : hidden !important;
        border-bottom: @border;
        box-shadow   : 0px 2px 1px 0px rgba(0, 0, 0, 0.2);

        table {
            position    : relative;
            table-layout: fixed;
        }
    }

    &-body {
        overflow: overlay !important;

        table {
            min-width   : 100%;
            table-layout: fixed;
        }

        // &::-webkit-scrollbar{
        //     position: absolute;
        //     left: 0;
        //     top:0
        // }
    }

    &-foot {}

}